/* rubik-spray-paint-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rubik Spray Paint';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/rubik-spray-paint-v1-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* sigmar-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Sigmar';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/sigmar-v7-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth; 
}
*, 
*::before, 
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  background: #000000;
  font-family: Rubik Spray Paint, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #0b0b0c;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
  background: url(../assets/img/cosmos.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.container {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding: 50px 150px 0;
}
.title { 
  font-family: 'Sigmar';
  margin: 0;
  text-align: center;
  /* background-color: rgb(166 75 144);
  background:linear-gradient(90deg,  rgb(166 75 144) 0%,  rgb(226, 217, 79) 50%,  rgb(226, 234, 166) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  color: rgb(166 75 144); 
  font-size: 180px;
  text-shadow: 10px 0 20px rgb(19, 19, 19);
}
.buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 1024px;
  width: 100%;
  margin-top: 20px;
  gap: 10px;
}
.button {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background:linear-gradient(360deg,  rgba(241, 229, 4, 0.7) 0%,  rgba(222, 213, 91, 0.7) 50%,  rgba(230, 236, 189, 0.7) 100%);
  color: rgb(64, 66, 67, 0.8);
  box-shadow: 0 0 5px #000000;
  outline: none;
  cursor: pointer;
}
.button:hover {
  background:linear-gradient(360deg,  rgba(241, 229, 4, 0.9) 0%,  rgba(222, 213, 91, 0.9) 50%,  rgba(230, 236, 189, 0.9) 100%);
}
.button:active {
  background:linear-gradient(360deg,  rgba(241, 229, 4, 1) 0%,  rgba(222, 213, 91, 1) 50%,  rgba(230, 236, 189, 1) 100%);
}
.button-link {
  display: block;
  color: rgb(235, 235, 92);
  text-decoration: none;
}
.button-link:focus,
.button-link:active {
  color: rgb(235, 235, 92);
}
.game {
  display: flex;
  max-width: 1024px;
  width: 100%;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 50px;
}
.results {
  max-width: 200px;
  width: 100%;
  background-color: rgba(245, 245, 245,  0.3);
  border-radius: 5px;
  box-shadow: inset 0px 0 10px 0px rgba(0, 0, 0, 1);
}
.grid {
  width: 400px;
  height: 640px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(245, 245, 245,  0.3);
  border-radius: 5px;
  box-shadow: 0px 0 10px 0px rgba(0, 0, 0, 0.5);
}
.right-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  width: 100%;
  background-color: rgba(245, 245, 245,  0.2);
  border-radius: 5px;
  box-shadow: inset 0px 0 10px 0px rgba(0, 0, 0, 1);
}
.buttons-exit {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  padding: 0 20px 20px;
}
.button-exit {
  width: 80px;
  height: 50px;
  outline: none;
  border: none;
}
.exit {
  font-size: 16px;
}
.grid div {
  height: 40px;
  width: 40px;
}
.element {
  background-image: url('../assets/img/blue.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.next-element {  
  width: 70%;
  height: 60%;
  margin-top: 20px;
  margin-bottom: 5px;
  background-color: rgba(245, 245, 245,  0.3);
  border-radius: 5px;
  box-shadow: inset 0px 0 10px 0px rgba(0, 0, 0, 1);
}
.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
}
.window-result {
  width: 70%;
  height: calc((100% - 80px) / 4);
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  box-shadow: inset 0px 0 10px 0px rgb(177, 173, 173);
}
.heading {
  font-size: 36px;
  font-weight: 400;
  color: rgb(207, 218, 53);
}
.result-value {
  margin-top: 10px;
  font-size: 30px;
  font-weight: 400;
  color: rgb(64 66 67);

}

.modal-wrapper {
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  background: rgb(0, 0, 0, 0.5);
  /* z-index: 1; */
  transition: opacity 0.8s, transform 0.5s;
  z-index: 100;
}
.modal-content {
  max-width: 600px;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;    
  opacity: 0;
  visibility: hidden;
  background: rgba(225, 217, 217, 0.7);
  transform: translate(-50%, -100%);
  transition: opacity 0.8s, visibility 0.5s, transform 0.5s;
}
.modal-wrapper.open {
  visibility: visible;
}
.modal-wrapper.open .modal-content {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) rotateX(0);
}
.modal-game-over {
  display: flex;
  max-width: 500px;
  width: 100%;
  padding: 20px;
  background-color: rgba(245, 245, 245,  0.9);
  border-radius: 5px;
  box-shadow: inset 0px 0 10px 0px rgba(206, 220, 7, 1);
}
.game-over-reluts {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.modal-figure-tetramino {
  max-width: 200px;
  width: 100%;
}
.modal-results {
  display: flex;
  flex-direction: column;
  gap:15px;
  padding: 20px 0;
}
.modal-results-title {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 400;
  gap: 15px;
  line-height: 28px;
}
.modal-title { 
  color: rgb(206, 220, 7);
}
.modal-score,
.modal-time {
  font-size: 28px;
  color: rgb(64, 66, 67, 0.8);
}
.form-name {
  position: relative;
  margin-top: 30px;
}
.input-name { 
  font-size: 18px;
  position: relative;
  max-width: 250px;
  padding: 10px; 
  border: none;
  border-radius: 15px;
  box-shadow: inset 0px 0 10px 0px rgb(177, 173, 173);
}
.input-name:focus,
.input-name:active {
  border: 1px solid rgb(206, 220, 7, 0.5);
  box-shadow: 0 0 2px 2px rgb(206, 220, 7, 0.5);
  outline: 0;
}
.modal-button {
  position: absolute;
  right: 15px;
  top: 9px;
  border: none;
  background: inherit;
  font-size: 20px;
  cursor: pointer;
}
.modal-button img {
  width: 20px;
  height: 20px;
}
.modal-button img:hover {
  scale: 1.2;
}

.footer {
  color: #fff;
}