/* inter-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v12-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('../fonts/inter-v12-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
  }
  /* inter-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inter-v12-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('../fonts/inter-v12-latin-700.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
  }
  /* forum-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/forum-v16-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('../fonts/forum-v16-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
  }

  html {
    box-sizing: border-box;
    scroll-behavior: smooth; 
  }
  *, 
  *::before, 
  *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  body {
    background: #aca7a7;
  }
  .container {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    background: #ffffff;
  }
  .header_container {
    display: flex;
    justify-content: space-between;
    background: #0C0C0E;
    color: #ffffff;
  }
  .main_header_text {
    margin: 0;
    padding: 20px 0 20px 20px;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;    
  }
  .nav {
    flex:1;
    padding: 20px 0;
  }
  .nav-list {
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    list-style: none;
  }
  .nav-item {
    color: #ffffff;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
  }
  
  .nav-item .nav-link {  
    color: #ffffff;
    text-decoration: none; 
    transition: 0.3s;
  }
  .header_container .icon_profile {
    display: block;
    object-fit: contain;
    padding: 31px 20px 31px 40px;
  }

  .welcome_container {
    height: 600px;
    background-image: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.1) 100%), url(../assets/image/Welcome.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 220px 840px 160px 0;
  }
  .welcome_container_text {
    width: 600px;
    height: 220px;
    
    background: #0C0C0E;
  }
  .welcome_text {
    color: #ffffff;
    text-align: center;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 125% */
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 35px 40px;
  }
  .about_container,
  .favorites_container,
  .coffee_shop_container,
  .contacts_container,
  .digital_container {
    padding-top: 20px;
  }
  .about_text,
  .favorites_text,
  .coffee_shop_text,
  .contacts_text,
  .digital_text {
    color: #0C0C0E;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize;
    text-align: center;
    position: relative;
  }

  .about_text::after,
  .favorites_text::after,
  .coffee_shop_text::after,
  .contacts_text::after,
  .digital_text::after {
    content: "";
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 50px;
    height: 1px;
    bottom: -20px; 
    background-color: #0c0c0e;
  }

  .about_container .paragraf_text,
  .favorites_container .paragraf_text,
  .coffee_shop_container .paragraf_text {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    padding: 0 20px;
    padding-top: 61px; /*+1px element :: after*/
  }
  .coffee_shop_container .paragraf_text {
    letter-spacing: 2px;
  }
  .about_pictures {
    flex:1;
    padding: 20px 20px 0 20px;
  }
  .about_list {
    display: flex;
    gap: 25px;
    justify-content: center;
    list-style: none;
  }
  .about_list .about-item {
    flex-shrink: 1;
    width: 450px;
    height: 100%;
  }
  .about_list .about-item  img{
    display: block;
  }
  .about_list .about-item_hidden {
    display: none;
  }
  .about_carousel_list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 35px 0;
  }
  .about_carousel .about_carousel_output {
    padding: 5px;
  }
  .about_carousel .about_carousel_output a{
    display: block;
    padding: 5px;
    border: 1px solid;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background: #0c0c0e;
    color: #0c0c0e;
  }
  .about_carousel .about_carousel_output:first-child a{
    background: #bb945f;
    color: #bb945f;
  }
  .favorites_container .paragraf_text {
    font-weight: 700;
    text-align: left;
    padding: 51px 0 0 20px; /*проверить еще раз почему 51*/
  }
  .favorites_btn {
    display: flex;
    flex-wrap: wrap;    
    gap: 55px;
    padding: 30px 0 33px 20px;
    justify-content: flex-start;
  }

  .favorites_btn .favorites_radiobutton:last-child {/*марджин для совпадения с макетом Перфект Пиксель*/
    margin-left: 15px;
   }
  .favorites_radiobutton {
    display: flex;
    min-width: 135px;
    align-items: center;
    padding: 5px;
  }
  .radio {
      display: none;
  }
  .fake_radio {
    position: relative;
    display: inline-block;
    width: 17px;
    height: 17px;
    border: 1px solid #000000;
    border-radius: 50%;
    margin-right: 15px;
}
.fake_radio::before {
  content: "";
  width: 8px;
  height: 8px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  background-color: #000000;
  opacity: 0;
  transition: 0.2s;
}
.radio:checked +.fake_radio::before {
  opacity: 1;
}
.radio:hover ~ .text ,
.radio:checked ~ .text {
  font-weight: 700;
}
.favorites_label {
  cursor: pointer;
}
.favorites_label .text {
  color: #000000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}



  .book_section {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 260px;
    padding: 0 60px 40px 20px;
    justify-content: space-between;
  }
  .book_section_element {
   width: 550px;
   height: 100%;
   height: 100%;
   flex-shrink: 0;
   position: relative;  
   border: 1px solid #000000;
   background: #ffffff;
}
.book_staff_picks {
  position: relative;
  padding: 15px 0 0 20px;
  color: #000;
  font-family: Forum;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
}
.book_staff_picks::after {
    content: "";
    position: absolute;
    left: 20px;
    right: 0;
    width: 60px;
    height: 1px;
    bottom: 0px; 
    background-color: #BB945F;
  }
.book_title {
  padding: 20px 0 0 20px;
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 266.667% */
  letter-spacing: 2px;
  text-transform: uppercase;
}
.book_title_bottom {
  text-transform: capitalize;
}
.book_desc {
  margin: 20px 0 15px 20px;
  width: 358px;
  height: 320px;
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 266.667% */
  letter-spacing: 2px;
  text-transform: capitalize;
}
.book_image {
  position: absolute;
  width: 200px;
  height: 300px;
  bottom: -1px;
  left: 71%;
  transition: 0.3s;
}

.btn {
  width: 75px;
  height: 30px;
  border-radius: 2px;
  margin: auto 0 15px 20px;
  padding: 0;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
}
.btn_buy {  
  border: 1px solid #0C0C0E;
  background-color: #ffffff;
  color: #0C0C0E;  
  transition: 0.3s;
}
.btn_buy:hover {
  border: 1px solid #BB945F;
  background: #BB945F; 
}
.btn_buy.btn_own {  
  border: 1px solid #BB945F;
  color: #BB945F;
  cursor: unset;
  pointer-events: none; 
}
.coffee_shop_price {
  display: flex;
  justify-content: space-between;
  padding: 40px 20px;
}
.coffee_shop_price_title {
  color: #BB945F;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 100% */
  letter-spacing: 2px;
  text-transform: capitalize;
  text-align: left;
}
.coffee_shop_desserts .coffee_shop_price_title {
  text-align: right;
}
.coffee_shop_drinks,
.coffee_shop_desserts {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.coffee_shop_price_drink,
.coffee_shop_price_dessert {
  display: flex;
  flex-flow: row;
  width: 100%;
  justify-content: space-between;
  gap:220px;
}
.coffee_shop_price_dessert {
  text-align: right;
}
.drink_title,
.dessert_title {
  flex-grow: 1;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
}
.drink_price,
.dessert_price {
  position: relative;
  color: #000;
  font-family: Forum;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
}
.drink_price::before,
.dessert_price::before {
    content: "";
    position: absolute;
    margin: 0 auto;
    top: 50%;
    right: 85px;
    width: 100px;
    height: 1px; 
    background-color: #BB945F;;
}
.contacts_section {
    display: flex;
    flex-wrap: wrap;
    gap: 201px;
    justify-content: space-between;
}